<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">first</li>
                <li class="list-group-item">second</li>
                <li class="list-group-item">third</li>
                <li class="list-group-item" *ngFor="let msg of messages">{{ msg }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-form (messageEvent)="recieveMessage($event)"></app-form>
        </div>
    </div>

    <hr>

</div>
<!-- /container -->